.home_section2_container {
    background-color: #fafafc;
    .home_section2 {
        padding: 40px 4%;

        .box {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 50px 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            background-color: #fff;

            h3 {
                font-size: 2rem;
                color: #2196f3;
                font-weight: 600;
            }

            .mySwiper {
                width: 100%;

                .swiper-slide {
                    background-color: #fff;
                }
            }
        }

        .view {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
                display: flex;
                align-items: center;
                gap: 3px;
                color: #2196f3;
            }
        }
    }
}

// ================ Section 3 ==================
.home_section3_container {
    background-color: #fafafc;
    .home_section3 {
        padding: 40px 4%;
        padding-top: 0;

        .boxes {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 10px;
            padding: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 16px;
            background-color: #fff;

            .view {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                h3 {
                    font-size: 1.4rem;
                    font-weight: 500;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    color: #2196f3;
                }
            }

            .slab {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;

                .box {
                    width: calc(12.5% - 14px);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    cursor: pointer;

                    .icon {
                        width: 85%;
                        border-radius: 50%;
                        padding: 8px;
                        box-shadow: none;
                        transition: all 0.3s ease;
                        img {
                            width: 100%;
                            border-radius: 50%;
                        }
                    }

                    p {
                        font-weight: 400;
                        color: #000;
                        transition: all 0.3s ease;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    &:hover {
                        .icon {
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            transform: scale(0.89);
                        }

                        p {
                            color: #2196f3;
                        }
                    }
                }
            }
        }
    }
}

// ================ Section 4 ====================

.home_section4_container {
    background-color: #fafafc;
    .home_section4 {
        padding: 40px 4%;
        padding-top: 0;

        a {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}

// ================ Section 5 ===================
.home_section5_container {
    background-color: #fafafc;
    .home_section5 {
        padding: 40px 4%;
        padding-top: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        .box {
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 50px 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            .view {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3{
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                a{
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    color: #2196f3;
                }
            }

            .slab{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;

                .seller_card{
                    width: calc(25% - 12px);
                }
            }
        }
    }
}


// =================== Section 6 ====================
.home_section6_container{
    background-color: #fafafc;

    .home_section6{
        padding: 40px 4%;
        padding-top: 0;
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .left{
            width: 24%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-direction: column;
            background-color: #94cfff88;
            padding: 16px;
            border-radius: 10px;

            h3{
                color: #2196f3;
                font-weight: 500;
            }

            .card{
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .top{
                    border: 1px solid #c9c9c9;
                    border-radius: 10px;
                    width: 100%;
                    height: 220px;
                    position: relative;

                    img{
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .discount{
                        background-color: #2196f3;
                        color: #fff;
                        padding: 4px 12px;
                        width: fit-content;
                        border-radius: 5px;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                    }
                }

                .bottom{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 22px;
                    padding-bottom: 30px;

                    h4{
                        text-align: center;
                        font-weight: 500;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .price{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        small{
                            color: #808080;
                            text-decoration: line-through;
                        }

                        span{
                            font-size: 1.1rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .right{
            width: 76%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            .view{
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                h3{
                    font-size: 1.5rem;
                }

                a{
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    color: #2196f3;
                }
            }

            .boxes{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 16px;
                flex-wrap: wrap;

                .latest_product{
                    width: calc(25% - 12px);
                }
            }
        }
    }
}


// ==================== Section 7 ===================
.home_section7_container{
    background-color: #fafafc;
    .home_section7{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 4%;
        gap: 20px;
        padding-top: 0;

        .left, .right{
            width: 50%;

            img{
                width: 100%;
                border-radius: 10px;
                display: block;
            }
        }
    }
}

// =================== Section 8 ===================
.home_section8_container{
    background-color: #fafafc;

    .home_section8{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 4%;
        padding-top: 0;

        .boxes{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 10px;
            padding: 30px 20px;
            background-color: #fff;

            .view{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3{
                    font-size: 24px;
                    font-weight: 500;
                    text-transform:uppercase;
                }

                a{
                    color: #2196f3;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                }
            }

            .slab{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 20px;

                .featured_card{
                    width: calc(16.66% - 17px);
                    .top{
                        border: none;
                    }
                }
            }
        }
    }
}

// =================== Section 11 =================
.home_section11_container{
    background-color: #fafafc;

    .home_section11{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 4%;
        padding-top: 0;
        flex-direction: column;
        gap: 40px;
    }
}

